API_ID=39636887
API_HASH=58d9e9789942f13dfeae5a58aadc967c
BOT_TOKEN=8971831345:AAFzwYLIEJEVuPYjOHE_BurgC42XytAT0LU
OWNER_ID=8922591120
LOGGER_ID=-1004473834264
PYTHON_VERSION=3.11.11
STRING_SESSION=BQJcz5cAbWFmwFI7LdB14zI8xl-d1VejM0EjLdxsoswwbMM_Dze0TH0qNe00mHYW8wF_yDl45XtbE5NEbV88tnoF4l5W4bK8kL35lwGD1-RgqiBCohQUYOgstc9kNAvtg_yWxxvI_qcDayZMP02ubNWbJ_5sYz2kpLTFoYWbyOMnreTyxN93Q1QX6PoEFiF87mMIsv0zcXW0QjP9LZie4DjnqiYOOG7rCfIfJBFCGBLOmGLfsRO7eviWPWSfYqc5Rlfwvmw70fzsDje0tkHwIJLkPcfospDns_q-LCn6GLwUstnY3N3_sA8eId9DpALB98Zjz644qF1RZ31meRIRmsJPS7bIGAAAAAHTqRwKAA
# Optional: Local Bot API server URL for colored inline buttons
# If not set, will fallback to api.telegram.org (colors won't work)
#LOCAL_BOT_API_URL=http://localhost:8081
# Optional: link shown by the /privacy command (defaults to SUPPORT_CHAT)

